<ul class="sidenav sidenav-fixed background-azul width-sidenav" id="slide-out">
    <li class="clear-bottom-3 clear-top-2">
        <div class="user-view">
            <a href="#">
                <span class="name white-text text-1-4rem">Administrador</span>
            </a>
        </div>
    </li>


    <li><a class="white-text weight400" href="/dashboard/examenes"><i class="material-icons white-text ">description</i>
            Exámenes</a>
    </li>

    <li><a class="white-text weight400" href="/dashboard/fechas"><i class="material-icons white-text ">event</i>
            Fechas</a></li>

    <li><a class="white-text weight400" href="#"><i class="material-icons white-text ">person</i>
            Alumnos</a>
    </li>

    <li><a class="white-text weight400" href="#"><i class="material-icons  white-text ">credit_card</i>
            Reservas</a>
    </li>
    <li><a class="white-text weight400" href="#"><i class="material-icons  white-text ">euro</i>
            Facturación</a>
    </li>


    <li>
        <a class="white-text clear-top-3 weight400" href="#" class="waves-effect"><i
                class="material-icons-outlined white-text">exit_to_app</i>Salir</a>
    </li>
</ul>

<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>