<footer>
    <div id='lower-footer'>
        <div>
            <p>Todos los derechos reservados para MIT. 2019</p>
        </div>
        <div>
            <ul>
                <li><a href="">Politicas de Privacidad</a></li>
                <li><a href="">Politicas de Cookies</a></li>
                <li><a href="">Condiciones y Términos</a></li>
            </ul>
        </div>
    </div>
</footer>
</body>

</html>