
<footer>
<div id='footer-contact'>
    <h2>CONTACTO</h2>
    <form action="submit" id="contacto">
        <input class="footer-form-input" type="text" name="nombre-apellido" placeholder="Nombre y Apellido">
        <input class="footer-form-input" type="email" name="email"  placeholder="Email">
        <input class="footer-form-input" type="text" name="asunto"  placeholder="Asunto">
        <textarea class="footer-form-input" name="mensaje"  cols="20" rows="1" maxlength="500" placeholder="Mensaje"></textarea>
        <button id="footer-submit-button" type="submit">ENVIAR</button>
    </form>
</div>
<div id='lower-footer'>
    <div>
        <p>Todos los derechos reservados para MIT. 2019</p>
    </div>
    <div>
        <ul>
            <li><a href="">Politicas de Privacidad</a></li>
            <li><a href="">Politicas de Cookies</a></li>
            <li><a href="">Condiciones y Términos</a></li>
        </ul>
    </div>
</div>
</footer>
</body>

</html>