<header>
    <div class="upper-part-header">
        <a href="/" class="brand-logo">MIT.</a>
        <nav class="right-side-menu" aria-label="menu-secundario">
            <ul class="secondary-menu-list" aria-label="company-menu">
                <li class="secondary-menu-logo">Mit<span class="right-side">X</span></li>
                <li class="secondary-menu-item"><a href="#">Quienes Somos</a></li>
                <li class="secondary-menu-item"><a href="#">Certificaciones</a></li>
                <li class="secondary-menu-item"><a href="#">Contacto</a></li>
                <li class="secondary-menu-item"><a href="#">FAQs</a></li>
            </ul>
        </nav>
        <a href="#" class="mobile-logo-ham"><i class="large material-icons right-side">menu</i></a>

    </div>
    <div class="lower-part-header">
        <a href="/" class="brand-logo logo-lower-part">MIT.</a>
    </div>
</header>