<%- include("partials/head") -%>
<%- include("partials/fullMenu") -%>

<main>
    <h1>FAQS</h1>
    <ul>
        <li class="faqs-preguntas">¿Cuándo se realizan las convocatorias de examen?</li>
        <li class="faqs-preguntas">¿Cuándo se cierran las fechas de inscripción de los exámenes?</li>
        <li class="faqs-preguntas">¿Cómo puedo adquirir una vacante para el examen de inglés?</li>
        <li class="faqs-preguntas">¿Cómo me puedo inscribir si estoy fuera de plazo?</li>
        <li class="faqs-preguntas">¿Si no se alcanza un número suficiente de candidatos, el centro se reserva el derecho de cancelar la convocatoria de
        examen?</li>
        <li class="faqs-preguntas">¿Si se trata de un <em>RESIT</em> (segunda oportunidad por presentado y suspenso, solo para exámenes GESE)?</li>
        <li class="faqs-preguntas">¿Qué sucede si deseo un ISE Completo, pero tengo un certificado ISE y sólo me quiero apuntar al examen del único
        modulo que me falta?</li>
        <li class="faqs-preguntas">¿Ya compré un examen y quiero hacer cambios? ¿Puedo?</li>
        <li class="faqs-preguntas">¿Soy un candidato con necesidades espaciales?</li>
        <li class="faqs-preguntas">Si no tiene respuesta a su solicitud de plaza o de inscripción a las 48 horas (laborables) desde que realices la
        reserva:</li>
        <li class="faqs-preguntas">¿Después de mi compra, me recuerdan la fecha de examen?</li>
        <li class="faqs-preguntas">¿Debo hacer algo el día del examen?</li>
        <li class="faqs-preguntas">¿Qué debo llevar el día del examen?</li>
        <li class="faqs-preguntas">¿Qué pasa si no puedo asistir por enfermedad?</li>
        <li class="faqs-preguntas">Derechos de autor:</li>
        <li class="faqs-preguntas">¿Qué pasa si se suspende el examen por fallos técnicos?</li>
        <li class="faqs-preguntas">¿Cuándo se reciben los resultados?</li>
    </ul>
</main>

<div class="overflow">
</div>
<script src="/Js/Front/index.js"></script>

<%- include("partials/footer-privacidad") -%>