<%- include("partials/head") -%>
<%- include("partials/fullMenu") -%>

<main>
    <h1>FAQS</h1>
    <ul class="faqs-list">
        <li class="faqs-preguntas"> <span>¿Cuándo se realizan las convocatorias de examen?</span>
            <p class="faqs-inner-text" data-toggle='closed'>Las convocatorias de examen que se realizarán en MIT son las
                que figuran el apartado Inglés y están activas. Sólo tienes
                que elegir el modelo de examen que deseas realizar y te indicará la fecha y disponibilidad.</p>
        </li>
        <li class="faqs-preguntas"> <span>¿Cuándo se cierran las fechas de inscripción de los exámenes? </span>
            <p class="faqs-inner-text" data-toggle='closed'>Por normativa, TCL cierra el plazo de inscripción para todos
                los centros examinadores de España el día 10 de dos meses
                antes del mes elegido para realizar el examen. Para cumplir esta normativa, nuestras fechas de cierre de
                inscripción
                serán unos días antes y están también reflejadas en todos los exámenes que aparecen ofertados en MIT.
            </p>
        </li>
        <li class="faqs-preguntas"> <span>¿Cómo puedo adquirir una vacante para el examen de inglés? </span>
            <p class="faqs-inner-text">
                Elige el examen de inglés en esta web. Elige la fecha de evaluación (escriba, oral o ambas en el caso de
                modelos de
                evaluación Completa) incluye tus datos de contacto, realiza el pago y automáticamente estarás inscrito y
                con la reserva
                finalizada.
                Recibirás un email con la confirmación de tu examen, fecha y normas de actuación antes, durante y
                después del examen.
                </br></br>
                Si deseas adquirir un examen fuera del plazo de inscripción, podrás inscribirte, pero no pagar. El
                equipo de MIT
                analizará las vacantes posibles, si las hay, y te lo confirmará por email.
            </p>
        </li>
        <li class="faqs-preguntas"> <span>¿Cómo me puedo inscribir si estoy fuera de plazo?</span>
            <p class="faqs-inner-text">
                Si deseas adquirir un examen fuera del plazo de inscripción, podrás inscribirte, pero no pagar. El
                equipo de MIT
                analizará las vacantes posibles, si las hay, y te lo confirmará por email.
                </br></br>
                Inscripciones fuera de plazo (late entry: condicionado a la disponibilidad de espacio/tiempo) previa
                autorización
                expresa y abonando un recargo.
                </br></br>
                En estos casos el centro examinador se reserva el derecho de aceptar o no inscripciones después de la
                fecha de cierre de
                matricula.

            </p>
        </li>
        <li class="faqs-preguntas"> <span>¿Si no se alcanza un número suficiente de candidatos, el centro se reserva el
                derecho de cancelar la convocatoria de examen? </span>
            <p class="faqs-inner-text">
                Sí. MIT se reserva este derecho. En estos casos, los derechos de examen serán devueltos o guardados para
                la siguiente
                convocatoria.
            </p>
        </li>
        <li class="faqs-preguntas"> <span>¿Si se trata de un <em>RESIT</em> (segunda oportunidad por presentado y
                suspenso,
                solo para exámenes GESE)?</span>
            <p class="faqs-inner-text">
                Los derechos de examen a pagar serian de 50€ para todos los grados. (ver pestaña PRECIOS en esta web) y
                es obligatorio
                proporcionar su ID Candidate Number correspondiente al examen suspendido.
            </p>
        </li>
        <li class="faqs-preguntas"> <span>¿Qué sucede si deseo un ISE Completo, pero tengo un certificado ISE y sólo me
                quiero
                apuntar al examen del único modulo que me falta? </span>
            <p class="faqs-inner-text">
                Cuando un candidato se matricula de un único módulo ISE y tiene el certificado del otro módulo del mismo
                nivel, es
                obligatorio indicar su número de registro que figura en el certificado (Candidate number) de lo
                contrario no se podrá
                realizar la VINCULACIÓN DE MÓDULOS y el candidato NO podrá recibir su certificado ISE completo, es
                obligatorio por tanto
                incluir el ID Candidate Number del examen correspondiente al módulo aprobado. En la pestaña de precios
                podrá ver tanto
                los precios por modulos ISE como del ISE completo
            </p>
        </li>
        <li class="faqs-preguntas"> <span>¿Ya compré un examen y quiero hacer cambios? ¿Puedo?Una vez cerrado el plazo y
                efectuada la inscripción no se admiten cambios ni anulaciones ni se efectuaran devoluciones.</span>
            <p class="faqs-inner-text">
                Solo en caso de circunstancias excepcionales y previa petición escrita y documentada, se solicitaría a
                TCL en quien
                recae la competencia de resolver según su Special Consideration Policy (ver Home > About Trinity >
                Trinity policies, en
                la página de la web <a href="https:/www.trinitycollege.com/site/?id=2092" target="_blank" rel="noopener noreferrer">www.trinitycollege.com/site/?id=2092</a>)
            </p>
        </li>
        <li class="faqs-preguntas"> <span>¿Soy un candidato con necesidades espaciales?</span>
            <p class="faqs-inner-text">
                Los candidatos con necesidades especiales deben atenerse a lo especificado en la web
                www.trinitycollege.com/languagespecialneeds por lo que deben de informar antes de efectuar su
                inscripción.
            </p>
        </li>
        <li class="faqs-preguntas"> <span>Si no tiene respuesta a su solicitud de plaza o de inscripción a las 48 horas
                (laborables) desde que realices la reserva: </span>
            <p class="faqs-inner-text">
                Debes contactar con nosotros, pues lo mas seguro no la habremos recibido y no podremos responder o
                inscribirle.
            </p>
        </li>
        <li class="faqs-preguntas"> <span>¿Después de mi compra, me recuerdan la fecha de examen? </span>
            <p class="faqs-inner-text">
                Cuando realizas la compra en esta web recibirás un email con la confirmación y fechas de compra.
                </br>
                MIT podrá además, tres semanas antes del examen, enviar a la dirección de correo electrónico facilitada
                por el
                candidato, confirmación de la fecha, hora y lugar de la prueba.
                </br>
                </br>
                No obstante lo anterior, es responsabilidad del candidato ponerse en contacto con nosotros si no recibe
                esta información
                en el plazo señalado.
                </br>
                </br>
                Los exámenes se realizan en nuestras instalaciones: Calle Isla de Oza, 28. 28035 Madrid. No obstante,
                los exámenes
                escritos podrían ser en otro lugar, dependiendo del numero de candidatos admitidos y se comunicará como
                mínimo con la
                antelación mencionada.
            </p>
        </li>
        <li class="faqs-preguntas"> <span>¿Debo hacer algo el día del examen? </span>
            <p class="faqs-inner-text">
                El candidato debe llegar al lugar del examen, al menos, 30 minutos antes del comienzo de la prueba oral
                y 45 minutos
                antes de la prueba escrita, esta es siempre a las 10:00 a.m. del día anunciado.
            </p>
        </li>
        <li class="faqs-preguntas"> <span>¿Qué debo llevar el día del examen? </span>
            <p class="faqs-inner-text">
                Los candidatos deben asistir al examen provistos de identificación (solo se admite DNI o pasaporte). La
                identificación
                fotográfica es obligatoria para todos los candidatos de 14 años en adelante que se presenten a cualquier
                examen.
            </p>
        </li>
        <li class="faqs-preguntas"> <span>¿Qué pasa si no puedo asistir por enfermedad? </span>
            <p class="faqs-inner-text">
                Se recuerda (ver Exam Information Booklet, pag. 53 Absence through sickness) que las ausencias por
                enfermedad deben
                justificarse documentalmente dentro de los 30 días siguientes a la fecha de la prueba.(Special
                Consideration Policy,
                <a href="https://www.trinitycollege.com/resource/?id=5748" target="_blank" rel="noopener noreferrer">www.trinitycollege.com/resource/?id=5748</a> ).
            </p>
        </li>
        <li class="faqs-preguntas"> <span>Derechos de autor: </span>
            <p class="faqs-inner-text">
                Los derechos de autor de todos los materiales de la prueba pertenecen a TCL y no permite que candidatos,
                centros o
                instituciones retengan o copien cualquier material utilizado en el examen.
            </p>
        </li>
        <li class="faqs-preguntas"> <span>¿Qué pasa si se suspende el examen por fallos técnicos? </span>
            <p class="faqs-inner-text">
                Este centro examinador no se hace responsable de cualquier anomalía en la sesión de pruebas debido a las
                emergencias
                eléctricas, u otros similares que obliguen a la suspensión de la prueba. En estos casos, se hará todo lo
                posible para
                ofrecer a los candidatos una sesión en una fecha posterior.
            </p>
        </li>
        <li class="faqs-preguntas"> <span>¿Cuándo se reciben los resultados? </span>
            <p class="faqs-inner-text">
                Cuando en este centro se reciban los resultados definitivos de la pruebas oral y/o escrita y/o
                certificados se
                comunicaran inmediatamente a los candidatos por email. Los resultados deben estar disponibles entre 3 y
                4 semanas.
                </br></br>
                La entrega de resultados/certificados se harán solo personalmente al candidato (o persona debidamente
                autorizada) en
                nuestras oficinas o se enviarán al domicilio del candidato. Según lo reservara en el momento de la
                compra. El dinero por
                envío no se devuelve en ningún caso.

            </p>
        </li>
    </ul>
</main>

<div class="overflow">
</div>
<script src="/Js/Front/faqs.js"></script>

<%- include("partials/footer-privacidad") -%>