
<%- include("partials/head") -%>
<%- include("partials/fullMenu") -%>
<main>
    <div class="image-container">
    </div>
    <section id="team">
        <h2>MIT TEAM</h2>
        <div id="team-wrapper">
            <div id="team-image-wrapper">
                <img src="../../images/Front/team-section-picture.jpg" alt="people-working-mit">
            </div>

            <div id="team-text">
                <h3>¿QUIENES SOMOS?</h3>
                <p>Dedicados desde nuestros orígenes en 1974 a la enseñanza de idiomas en todos sus ámbitos: particulares, empresas,
                    organismos oficiales y viajes de alumnos al extranjero.</p>
                    
                  <p>Desde 1975 somos Registered Exam Centre de Trinity Coollege London para los exámenes de inglés, desde 2010 para los
                    exámenes de música, rock & pop, Trinity stars, drama, acting & speaking y desde 1996 Trinity College London Approved
                    Service Provider.
                </p>
            </div>
        </div>
    </section>
    
</main>
<div class="overflow">
</div>
<script src="../../Js/Front/index.js"></script>

<%- include("partials/footer-contact") -%>